 #drum-machine {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
 }

 #display {
   padding: 20px;
   font-size: 32px;
   padding-left: 50px;
   padding-right: 60px;
 }

 .drum-pad-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* 3 columns */
   gap: 10px;
   /* Spacing between buttons */
   width: 300px;
   /* Adjust width as needed */
 }


 .drum-pad {
   width: 80px;
   height: 80px;
   font-size: 16px;
   background-color: #444;
   color: white;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 0 4px #222;
   transition: all 0.2s ease;
 }

 .drum-pad:active {
   background-color: #666;
   box-shadow: 0 2px #222;
   transform: translateY(2px);
 }